In [1]:
import numpy as np
import pandas as pd
from io import StringIO
import requests
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
%time
url="https://s3-us-west-2.amazonaws.com/aws-spot-prices/SpotPrices/ap-northeast-1.csv"
s=requests.get(url).text
nw_data=pd.read_csv(StringIO(s), low_memory=False, header=None)

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 7.87 µs

In [3]:
nw_data.head()

                           0           1           2                3       4
0  2017-05-08 21:46:36+00:00  c3.8xlarge     Windows  ap-northeast-1a  1.6503
1  2017-05-08 21:46:36+00:00  c3.8xlarge     Windows  ap-northeast-1c  1.7461
2  2017-05-08 21:46:34+00:00    i3.large  SUSE Linux  ap-northeast-1c  0.1223
3  2017-05-08 21:46:34+00:00    i3.large  Linux/UNIX  ap-northeast-1c  0.0223
4  2017-05-08 21:46:17+00:00  c4.8xlarge  SUSE Linux  ap-northeast-1a  0.7890

In [4]:
nw_data.columns = ['Date_Time', 'Instance', 'OS', 'Region', 'Spot_Price']

In [5]:
nw_data.head()

,Date_Time,Instance,OS,Region,Spot_Price
0,2017-05-08 21:46:36+00:00,c3.8xlarge,Windows,ap-northeast-1a,1.6503
1,2017-05-08 21:46:36+00:00,c3.8xlarge,Windows,ap-northeast-1c,1.7461
2,2017-05-08 21:46:34+00:00,i3.large,SUSE Linux,ap-northeast-1c,0.1223
3,2017-05-08 21:46:34+00:00,i3.large,Linux/UNIX,ap-northeast-1c,0.0223
4,2017-05-08 21:46:17+00:00,c4.8xlarge,SUSE Linux,ap-northeast-1a,0.7890