# Features only copy

In [9]:
import pandas as pd
import numpy as np


from io import StringIO
import requests
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
path_feat = r'/Users/Yejur/Documents/GitHub/Capstone/Data_feat'

In [3]:
uswest_ore = pd.read_csv(path_feat + '/Amazon EC2 Instance Comparison_WEST_OREGAN.csv', low_memory=False)
uswest_cal = pd.read_csv(path_feat + '/Amazon EC2 Instance Comparison_WEST_NCALI.csv', low_memory=False)
useast_ohi = pd.read_csv(path_feat + '/Amazon EC2 Instance Comparison_EAST_OHIO.csv', low_memory=False)
useast_vir = pd.read_csv(path_feat + '/Amazon EC2 Instance Comparison_EAST_NVIRGINIA.csv', low_memory=False)

In [4]:
print(uswest_ore.shape)
print(uswest_cal.shape)
print(useast_ohi.shape)
print(useast_vir.shape)

(200, 52)
(200, 52)
(200, 52)
(200, 52)

In [29]:
# uswest_ore.sample(2).T

In [19]:
# uswest_ore.columns

In [7]:
uswest_ore['API Name'].nunique()

200

In [8]:
uswest_ore[['Name', 'API Name', 'Memory', 'vCPUs', 'GPUs',
       'Clock Speed(GHz)','EBS Optimized: Max Bandwidth', 'EBS Optimized: Throughput',
       'EBS Optimized: Max 16K IOPS', 'Max IPs',
       'Max ENIs', 'Linux On Demand cost', 'Linux Reserved cost', 
       'Windows On Demand cost', 'Windows Reserved cost']].sample(2).T

                                           100                          166
Name                           C5N Extra Large  M5 General Purpose 24xlarge
API Name                            c5n.xlarge                 m5d.24xlarge
Memory                                10.5 GiB                    384.0 GiB
vCPUs                                  4 vCPUs                     96 vCPUs
GPUs                                         0                            0
Clock Speed(GHz)                       3.0 Ghz                      2.5 GHz
EBS Optimized: Max Bandwidth       3500.0 Mbps                 14000.0 Mbps
EBS Optimized: Throughput           437.5 MB/s                  1750.0 MB/s
EBS Optimized: Max 16K IOPS       20000.0 IOPS                 80000.0 IOPS
Max IPs                                     60                          750
Max ENIs                                     4                           15
Linux On Demand cost          $0.216000 hourly             $5.424000 hourly
Linux Reserved cost           $0.136000 hourly             $3.454000 hourly
Windows On Demand cost        $0.400000 hourly             $9.840000 hourly
Windows Reserved cost         $0.320000 hourly             $7.870000 hourly

In [15]:
# uswest_ore['Memory']

# uswest_ore['vCPUs']

# DATA

In [10]:
%time
url="https://s3-us-west-2.amazonaws.com/aws-spot-prices/SpotPrices/ap-northeast-1.csv"
s=requests.get(url).text
nw_data=pd.read_csv(StringIO(s), low_memory=False, header=None)
nw_data.columns = ['Date_Time', 'Instance', 'OS', 'Region', 'Spot_Price']
nw_data.head()

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.01 µs

,Date_Time,Instance,OS,Region,Spot_Price
0,2017-05-08 21:46:36+00:00,c3.8xlarge,Windows,ap-northeast-1a,1.6503
1,2017-05-08 21:46:36+00:00,c3.8xlarge,Windows,ap-northeast-1c,1.7461
2,2017-05-08 21:46:34+00:00,i3.large,SUSE Linux,ap-northeast-1c,0.1223
3,2017-05-08 21:46:34+00:00,i3.large,Linux/UNIX,ap-northeast-1c,0.0223
4,2017-05-08 21:46:17+00:00,c4.8xlarge,SUSE Linux,ap-northeast-1a,0.7890

In [13]:
nw_data_windows = nw_data[nw_data['OS']=='Windows']

In [15]:
short_useast = useast_ohi[['Name', 'API Name', 'Memory', 'vCPUs', 'GPUs','Windows On Demand cost', 'Windows Reserved cost']]

In [16]:
short_useast.sample(2)

,Name,API Name,Memory,vCPUs,GPUs,Windows On Demand cost,Windows Reserved cost
154,I3EN 3xlarge,i3en.3xlarge,96.0 GiB,12 vCPUs,0,unavailable,unavailable
168,C5 High-CPU Quadruple Extra Large,c5d.4xlarge,32.0 GiB,16 vCPUs,0,$1.504000 hourly,$1.223000 hourly

In [25]:
test_dataset = nw_data_windows.merge(short_useast, how='left', left_on='Instance', right_on='API Name')

In [23]:
nw_data[nw_data.Instance.isin(short_useast['API Name'].unique())]['Instance'].nunique()

61

In [150]:
test_dataset.Instance.unique()

array(['c3.8xlarge', 'c4.8xlarge', 'c4.xlarge', 'r3.8xlarge', 'm3.large',
       'i2.xlarge', 'm2.xlarge', 'r4.4xlarge', 'm1.medium', 'r4.large',
       'c3.2xlarge', 'g2.2xlarge', 'i3.xlarge', 'm2.2xlarge',
       'm4.2xlarge', 'i2.4xlarge', 'm2.4xlarge', 'm1.xlarge',
       'm3.2xlarge', 'i2.2xlarge', 'hi1.4xlarge', 'r4.xlarge',
       'c3.4xlarge', 'd2.2xlarge', 'm4.xlarge', 'r4.2xlarge', 'c1.medium',
       'r3.2xlarge', 'i3.16xlarge', 'r3.4xlarge', 'c1.xlarge',
       'd2.4xlarge', 'c3.xlarge', 'i3.2xlarge', 'r3.large', 'm3.xlarge',
       'd2.xlarge', 'c4.large', 'm3.medium', 'cr1.8xlarge', 'x1.16xlarge',
       'i3.4xlarge', 'r4.8xlarge', 'd2.8xlarge', 'r3.xlarge',
       'c4.2xlarge', 'i3.large', 'm4.16xlarge', 'm1.large', 'i2.8xlarge',
       'm4.10xlarge', 'c3.large', 't1.micro', 'm4.4xlarge', 'm1.small',
       'x1.32xlarge', 'm4.large', 'g2.8xlarge', 'c4.4xlarge',
       'cc2.8xlarge', 'r4.16xlarge', 'i3.8xlarge'], dtype=object)

In [27]:
# test_dataset

In [37]:
# api_call = pd.read_csv('index.csv', low_memory=False)

In [47]:
import boto3

In [119]:
# # import boto3
client = boto3.client('ec2', region_name='us-west-2', aws_access_key_id='AKIAJXM7HXABTW2ODJWA',aws_secret_access_key='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')

# prices=client.describe_spot_price_history(InstanceTypes=['m3.medium'])
# ,
#                                           MaxResults=1,
#                                       ProductDescriptions=['Linux/UNIX (Amazon VPC)'],AvailabilityZone='us-west-2')

# print (prices['SpotPriceHistory'][0])




regions = [x["RegionName"] for x in client.describe_regions()["Regions"]]

INSTANCE = "p2.xlarge"
print("Instance: %s" % INSTANCE)

results = []

for region in regions:
    prices = client.describe_spot_price_history(
        InstanceTypes=[INSTANCE],
        ProductDescriptions=['Linux/UNIX', 'Linux/UNIX (Amazon VPC)'],
        StartTime=(datetime.datetime.now() -
                   datetime.timedelta(days=2)).isoformat(),
        MaxResults=1
    )
#     print(prices)
    for price in prices["SpotPriceHistory"]:
        results.append((price["AvailabilityZone"], price["SpotPrice"],price['InstanceType'], price['ProductDescription'], price['Timestamp']))
# print(results)
# for region, price in sorted(results, key=lambda x: x[1]):
#     print("Region: %s price: %s" % (region ,price))

Instance: p2.xlarge

In [120]:
test = pd.DataFrame(results)

In [121]:
test

             0         1          2           3                         4
0   us-west-2a  0.273300  p2.xlarge  Linux/UNIX 2019-05-31 00:59:23+00:00
1   us-west-2a  0.273300  p2.xlarge  Linux/UNIX 2019-05-31 00:59:23+00:00
2   us-west-2a  0.273300  p2.xlarge  Linux/UNIX 2019-05-31 00:59:23+00:00
3   us-west-2a  0.273300  p2.xlarge  Linux/UNIX 2019-05-31 00:59:23+00:00
4   us-west-2a  0.273300  p2.xlarge  Linux/UNIX 2019-05-31 00:59:23+00:00
5   us-west-2a  0.273300  p2.xlarge  Linux/UNIX 2019-05-31 00:59:23+00:00
6   us-west-2a  0.273300  p2.xlarge  Linux/UNIX 2019-05-31 00:59:23+00:00
7   us-west-2a  0.273300  p2.xlarge  Linux/UNIX 2019-05-31 00:59:23+00:00
8   us-west-2a  0.273300  p2.xlarge  Linux/UNIX 2019-05-31 00:59:23+00:00
9   us-west-2a  0.273300  p2.xlarge  Linux/UNIX 2019-05-31 00:59:23+00:00
10  us-west-2a  0.273300  p2.xlarge  Linux/UNIX 2019-05-31 00:59:23+00:00
11  us-west-2a  0.273300  p2.xlarge  Linux/UNIX 2019-05-31 00:59:23+00:00
12  us-west-2a  0.273300  p2.xlarge  Linux/UNIX 2019-05-31 00:59:23+00:00
13  us-west-2a  0.273300  p2.xlarge  Linux/UNIX 2019-05-31 00:59:23+00:00
14  us-west-2a  0.273300  p2.xlarge  Linux/UNIX 2019-05-31 00:59:23+00:00
15  us-west-2a  0.273300  p2.xlarge  Linux/UNIX 2019-05-31 00:59:23+00:00

In [117]:
StartTime=(datetime.datetime.now() -
                   datetime.timedelta(days=2)).isoformat()

In [118]:
StartTime

'2019-05-28T21:14:54.811432'

In [151]:
# # import boto3
client = boto3.client('ec2', region_name='us-west-2', aws_access_key_id='',aws_secret_access_key='')

regions = [x["RegionName"] for x in client.describe_regions()["Regions"]]

INSTANCE = ['p2.xlarge','c3.8xlarge','m4.2xlarge']
print("Instance: %s" % INSTANCE)

results = []

for region in regions:
    prices = client.describe_spot_price_history(
        InstanceTypes=INSTANCE,
        ProductDescriptions=['Linux/UNIX', 'Windows'],
        StartTime=(datetime.datetime.now() - datetime.timedelta(days=90)).isoformat(),
        MaxResults=123
    )

    for price in prices["SpotPriceHistory"]:
        results.append((price["AvailabilityZone"], price["SpotPrice"],price['InstanceType'], price['ProductDescription'], price['Timestamp']))

        
# 3 regions (us-east-1, us-west-2, eu-west-1)
# 10 types of instances
# 2 OS

Instance: ['p2.xlarge', 'c3.8xlarge', 'm4.2xlarge']

In [152]:
test = pd.DataFrame(results)
cols = ['AvailabilityZone','SpotPrice','InstanceType','ProductDescription','Timestamp']
test.columns = cols

In [159]:
test.shape

(1216, 5)

In [161]:
test.head()

,AvailabilityZone,SpotPrice,InstanceType,ProductDescription,Timestamp
0,us-west-2a,0.132600,m4.2xlarge,Linux/UNIX,2019-05-31 01:16:08+00:00
1,us-west-2a,0.273300,p2.xlarge,Linux/UNIX,2019-05-31 00:59:23+00:00
2,us-west-2b,0.141400,m4.2xlarge,Linux/UNIX,2019-05-31 00:17:56+00:00
3,us-west-2c,0.467200,c3.8xlarge,Linux/UNIX,2019-05-30 19:51:38+00:00
4,us-west-2b,0.467200,c3.8xlarge,Linux/UNIX,2019-05-30 19:51:38+00:00

In [160]:
# test.merge(short_useast, how='left', left_on='InstanceType', right_on='API Name')